sphinx/sphinx.conf
sphinx/index
sphinx/log
sphinx/run
application/doctrine-cli.php
application/initial_database.sql
application/create-schema.sh
application/update-schema.sh
application/config/config.php
application/config/recaptcha.php
application/config/database.php
application/cache
application/logs
uploads
tmp
Thumbs.db
nbproject
.idea
.DS_Store
application/models/Proxies/*.php
assets/js/chosen/chosen.jquery.min.js
