.well .nav {
	margin-top:0px;
}
.navbar-fixed-top .brand.loged-user{
	float:right;
	font-size: 12px;
}

.label-categorias { 
	float:left;
	width:180px;
}

#formNoticia input#foto {
	margin-left: 20px;
}

/*Redactor*/
.redactor_editor {
	min-height: 120px;
}

/*Modal*/
#modal-backend {
	width:720px;
	margin:-280px 0 0 -360px;
}

#modal-backend .modal-body {
	max-height: 450px;
}

.chzn-container {
    max-width: 100%;
}

/*Upload File*/
div.uploadify-input {
	float: left;
	margin-left: 20px;
}

.tagit-item a:hover{
	color: #000
}

input.error {
    border-color:#f00!important;
}

.btn-warning:disabled i.icon-refresh.icon-white,
.btn-warning:disabled i.icon-upload.icon-white{
    background: url('../img/loader_icon_white.gif') left top no-repeat;
}

.btn-accion-ajax:disabled i.icon-loader-disabled{
    background: url('../img/loader_icon_white.gif') left top no-repeat;
}

.cont-seleecionar-todos-paginas {
    display: none;
}

.main-vistas-junar .tabla-recursos td p {
    margin: 0;
    padding: 0;
}
.main-vistas-junar .tabla-recursos .col-vistas {
    width: 70%;
}

.main-vistas-junar .tabla-recursos .vistas-junar-acciones {
    white-space: nowrap;
}

.main-vistas-junar .tabla-recursos .cont-mensajes-ajax {
    display: none;
}

.main-vistas-junar .tabla-recursos .vistas-junar-acciones .btn-mini {
    margin-left: 5px;
    margin-bottom: 5px;
}
.main-vistas-junar .tabla-recursos .tr-vista-junar td {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: inherit;
    color: inherit;
}

.main-vistas-junar .tabla-recursos .tr-vista-junar.actualizado td{
    background-color: #3a87ad;
    color: white;
}

.main-vistas-junar .tabla-recursos .vistas-junar-acciones .btn-success:disabled .icon-refresh {
    background: url('../img/loader_icon_white.gif') left top no-repeat;
}